@font-face {
    font-family: "GothamMedium";
    src: url("fonts/GothamMedium.ttf") format("truetype");
}

@font-face {
    font-family: "GothamBold";
    src: url("fonts/Gotham-Bold.otf") format("truetype");
}

@font-face {
    font-family: "GothamBook";
    src: url("fonts/GothamBook.ttf") format("truetype");
}

@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:600&display=swap');

.photo {
    
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
}

.Prenom {
    background-color: grey;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.Cubeopacite {
    font-family: "GothamBold";
    font-size: x-large;
    color: white;
    background-color: rgba(211, 214, 13, 0.753);
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
    text-align: right;
}

#profil {
    margin:8% 10% auto auto;
}

#Gcon {
    color: rgb(214, 201, 14);
    font-family: "GothamBold";
}

#coordo {
    font-family: "GothamBook";
    font-size: large;
}

.txtpres {
    font-family: "GothamBook";
    background-color: rgb(211, 214, 13);
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    color: white;
    font-size: large;
    padding: 3%;
}
.Presentation {
    background-color: #fff;
}

.Presentation {
    display: grid;
    grid-gap: 0em;
    grid-template-columns: 40% 3fr;
    grid-template-rows: 3fr 0.75fr ;
}

.content {
    list-style: height 1.3em;
    background-color: #fff;
    display: grid;
    grid-gap: 0em;
    grid-template-columns: 40% 3fr;
    grid-template-rows:2fr 1fr 2fr 2fr;
    grid-template-areas: 
    "contact           experiences"
    "Tformation        experiences" 
    "formation         experiences" 
    "centredinterets   skills";
    }


.contact{
    background-color : rgb(36, 36, 36);
    grid-area: contact;
    padding-left: 5%;
    color: #fff;
}

.Tformation{
    background-color : rgb(214, 201, 14);
    grid-area: Tformation;
    color:black;
    font-family: "GothamBold";
    font-size: large;
    padding-right: 5%;
    padding-top:5%;
    text-align: right;
}

.formation{
    background-color : rgb(65, 65, 65);
    grid-area: formation;
    color:white;
    padding-right: 5%;
    text-align: right;
}

.centredinterets{
    background-color : blue;
    grid-area: centredinterets;
}

.skills{
    background-color : blue;
    grid-area: skills;
}

.experiences{
    background-color : blue;
    grid-area: experiences;
}

#bogoss {
    width: 100%;
    
}

.name {
    font-family: 'Roboto Slab', serif;
    /* font-size: 50px; */
    font-weight: 700;
    margin : 10% 0% 0% 50%;
}
.fgras {
    font-family: "GothamBold";
}
.fbook {
    font-family: "GothamBook";
}
h1 {
    font-size: 5vw;
}
@media only screen and (min-width: 600px) {
    .Presentation {
        grid-template-columns: 30% auto;
    }
    .content {
        grid-template-columns: 30% auto;
    }
    


}